{% extends 'chat/base.html' %}

{% block content %}

    <div id="chat-log" cols="100" rows="20" class="ScrollStyle msg">

        {% for msg in msgs %}
            <p class="chat-p"> <span class="chat-msg"><span class="username">{{  msg.sender.username }} :</span> {{ msg.message }}</span> :::
                <span class="time">{{ msg.timestamp }}</span></p>
        {% endfor %}

    </div>

    <br>
    <input id="chat-message-input" class="msg" type="text" size="100"><br>
    <input id="chat-message-submit" class="msg" type="button" value="Send">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {{ room_name|json_script:"room-name" }}
    <script>
        var sender = '{{ sender_id }}';
        var sender_name = '{{ sender_username }}';
        var receiver = '{{ receiver_id }}';
        var receiver_name = '{{ receiver_username }}';
        {#var msgs = {{ msgs }};#}

        {#console.log(msgs);#}

        console.log("***********");
        console.log(sender);
        console.log(sender_name);
        console.log(receiver);
        console.log("***********");


        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const now = new Date(Date.now())
            const formatted = " " + now.toLocaleString('default', { month: 'long' }) + " " +  now.getUTCDate().toString()
                + ", " + now.getFullYear().toString() + " " +
                now.toLocaleString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }).toLowerCase()

            console.log("***********");
            console.log(data);
            console.log("***********");

            $("#chat-log").append("<p>" + "<span  class='chat-msg'>" + "<span class='username'>" + data.sender_name + "</span>" + ': ' + data.message +
                "</span>" + '::: ' + "<span class='time'>"  + formatted +  "</span>" + "</p>");
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': sender,
                'receiver': receiver,
                'sender_name': sender_name
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}