<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>...</title>
</head>
<body>
<h1>Select the seller you would like to connect with!</h1>


{% for user in get_senders %}
    {% if user.sender.id == sender %}
        <p><a href = "{% url 'room' user.room_name %}">{{ user.receiver.username }}</a></p>
    {% endif %}
{% endfor %}

{% for user in get_receivers %}
        <p><a href = "{% url 'room' user.room_name %}">{{ user.sender.username }}</a></p>
{% endfor %}

<form method="post">
{% csrf_token %}
    <label for="receivers"><h3>Choose a seller:</h3></label>
    <select id="receivers" name="receivers">
        {% for users in context %}
             <option value="{{ users.user.id }}">{{ users.user }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>

</form>


</body>
</html>